<form method="post" style="padding-left: 20px; padding-top: 5px;">
    <h3>{{headline}}</h3>
    <p><input name="task name" placeholder="Name"/></p>
    <p><input name="due date" type="number" step="dd/mm/yyyy" placeholder="Date"/></p>
    <p><input name="Folder" placeholder="Folder"/></p>
    <p><input name="description" placeholder="Your description"/></p>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
