 <h1>New user</h1>
<form method="post">
    <p>{{errorMessage}}</p>
    <p>Name :
        <input name="Name"/>
    </p>
    <p>e-mail :
        <input name="e-mail"/>
    </p>
    <p>Password : 
        <input name="password" type="password"/>
    </p>
    <button 
        type="submit" 
        class="btn btn-primary">
        New user
    </button>
</form>
